@using PokéToolsWeb.Models

<div class="popup" style="top:@topPx; left:@leftPx;">

    <div class="stat-row"><span>@("#" + pokemon.Dex)</span><span>@(pokemon.Name)</span></div>

    <hr class="separator" />

    <div class="stat-row"><span>@pokemon.HP</span><ColorBar Value="@pokemon.HP" /></div>
    <div class="stat-row"><span>@pokemon.Attack</span><ColorBar Value="@pokemon.Attack" /></div>
    <div class="stat-row"><span>@pokemon.Defense</span><ColorBar Value="@pokemon.Defense" /></div>
    <div class="stat-row"><span>@pokemon.SpAtk</span><ColorBar Value="@pokemon.SpAtk" /></div>
    <div class="stat-row"><span>@pokemon.SpDef</span><ColorBar Value="@pokemon.SpDef" /></div>
    <div class="stat-row"><span>@pokemon.Speed</span><ColorBar Value="@pokemon.Speed" /></div>

    <div class="stat-row">
        <span>Bulk:</span>
        <span>@pokemon.Bulk.ToString("0")</span>
        <span class="bulk-tier-letter @GetBulkTierClass(pokemon.Bulk)">
            @GetBulkTier(pokemon.Bulk)
        </span>
    </div>

    <div class="stat-row">
        <span>Power:</span>
        <span>@pokemon.Power.ToString("0.00")</span>
        <span class="power-tier-letter @GetPowerTierClass(pokemon.Power)">
            @GetPowerTier(pokemon.Power)
        </span>
    </div>

</div>

@code {
    [Parameter]
    public Pokemon pokemon { get; set; }

    [Parameter]
    public string topPx { get; set; }

    [Parameter]
    public string leftPx { get; set; }

    private string GetBulkTier(double bulk)
    {
        return bulk switch
        {
            >= 11000 => "S",
            >= 9000 => "A",
            >= 7000 => "B",
            >= 5000 => "C",
            >= 3000 => "D",
            >= 1000 => "E",
            _ => "F"
        };
    }

    private string GetPowerTier(double power)
    {
        return power switch
        {
            >= 1.7 => "S",
            >= 1.4 => "A",
            >= 1.1 => "B",
            >= 0.8 => "C",
            >= 0.5 => "D",
            >= 0.2 => "E",
            _ => "F"
        };
    }

    private string GetBulkTierClass(double bulk)
    {
        string bulkClass = $"bulk-tier-{GetBulkTier(bulk)}";
        return bulkClass;
    }

    private string GetPowerTierClass(double bulk)
    {
        string powerClass = $"power-tier-{GetPowerTier(bulk)}";
        return powerClass;
    }
}
